<!-- template : annonce.htm -->

<table summary="" border="0" width="100%" cellspacing="1" cellpadding="1">
  <tr>
    <td style="width:100%; background-color:#EEEEEE;">##TITLE ARTICLE##</td>
  </tr>
</table>

<table summary="" border="0" width="100%" cellspacing="0" cellpadding="1">
  <tr>
    <td style="width:100%; border-style:solid; border-color:#000000; border-width:1px;">
		<table border="0" width="100%" cellspacing="0" cellpadding="5">
		  <tr>
			<td style="width:5%" valign="top" align="center">
				##IMAGE ARTICLE##
			</td>
			<td style="width:95%" valign="top" align="justify">
				<span style="font-size: 13px;">##TEXT ARTICLE##</span>
			</td>
		  </tr>
		</table>
    </td>
  </tr>
</table>

<br/>

<table summary="" border="0" width="100%" cellspacing="2" cellpadding="2">
  <tr>
    <td style="width:100%; background-color:#EEEEEE; font-size:13px;">
	<img src="images/breve.gif" alt="" title=""/> <strong>DEPECHES DE SECONDE PAGE</strong>
    </td>
  </tr>

##LOOP##
  <tr>
    <td style="width:100%; padding:5px; border-style:solid; border-color:#cccccc; border-width:1px;">
		##TITLE NEWS##<br/>
		<hr/>
		##TEXT NEWS##
    </td>
  </tr>

  <tr>
    <td style="height:5px;"></td>
  </tr>
##ENDLOOP##
</table>
