<!-- template : content.htm -->

<div style="margin-bottom:5px; font-size:18px; border-bottom-style: solid; border-bottom-width: 1px;">
<img src="images/spip/breve.gif" alt="" title=""/>
<strong>##TITLE INFO##</strong>
##BACKOFFICE##
</div>

<div style="text-align:center;">##LINKS##</div>

##LOOP##

<div style="margin-top:0px;">
##TEXT ARTICLE##
</div>

<p style="margin-top:0px; padding:5px; border-style:solid; border-color:#c0c0c0; border-width:1px; font-size:13px;">##ATTACHED##</p>

<div style="border-top-style: dotted; border-top-width: 1px; text-align: right;">##AUTHOR##</div>

##ENDLOOP##