<!-- template : flash.htm -->


<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary" style="float: left;">Message du jour</h6>
    <div style="float: right;">
      ##LINK EDIT##
    </div>
  </div>
  <div class="card-body">
    ##LOOP##

    ##TITLE ARTICLE##

    <div style="margin: 0 0 0 15px;">
      ##TEXT ARTICLE##<br/>
      ##ATTACHED##
    </div>

    <!-- <p style="margin-top: 0px; margin-bottom: 5px;"></p> -->

    ##ENDLOOP##
  </div>
</div>
