<!-- template : anzeige.htm -->

<table summary="" border="0" width="100%" cellspacing="1" cellpadding="1">
  <tr>
    <td style="width:100%; background-color:#EEEEEE;">##TITLE ARTICLE##</td>
  </tr>
</table>

<table summary="" border="0" width="100%" cellspacing="0" cellpadding="1">
  <tr>
    <td style="width:100%">
	<table border="1" width="100%" cellspacing="0" cellpadding="0">
	  <tr>
	    <td style="width:100%">
		<table border="0" width="100%" cellspacing="0" cellpadding="5">
		  <tr>
			<td style="width:5%" valign="top" align="center">
				##IMAGE ARTICLE##
			</td>
			<td style="width:95%" valign="top" align="justify">
				<span style="font-size: 13px;">##TEXT ARTICLE##</span>
			</td>
		  </tr>
		</table>
	    </td>
	  </tr>
	</table>
    </td>
  </tr>
</table>

<br/>

<table summary="" border="0" width="100%" cellspacing="2" cellpadding="2">
  <tr>
    <td style="width:100%; background-color:#EEEEEE;">
	<span style="font-size: 13px;">
	<img src="images/breve.gif" alt="" title=""/> <b>DEPESCHEN ZWEITER SEITE</b>
	</span>
    </td>
  </tr>

##LOOP##
  <tr>
    <td style="width:100%">
	<table border="1" width="100%" cellspacing="0" cellpadding="5">
	  <tr>
	    <td style="width:100%">
		<span style="font-size: 13px;">##TITLE NEWS##</span><br/>
		<hr/>
		<span style="font-size: 13px;">##TEXT NEWS##</span>
	    </td>
	  </tr>
	</table>
    </td>
  </tr>

  <tr>
    <td style="height:5px;">&nbsp;</td>
  </tr>
##ENDLOOP##
</table>

<br/>