<!-- template : promethee.htm -->

<span style="font-size: 13px;"><b>Fortschritt des Projekts: ##TITLE INFO##</b></span>

##LOOP##

<table summary="" border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td style="width:5%">&nbsp;</td>
    <td style="width:90%; background-color:#EEEEEE">
	<span style="font-size: 13px;"><img border="0" src="images/spip/info.gif" alt="" title=""/> <b>##TITLE ARTICLE##</b></span>
    </td>
    <td style="width:5%">&nbsp;</td>
  </tr>
</table>

<table summary="" border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td style="width:5%">&nbsp;</td>
    <td style="width:90%">
	<table summary="" border="1" width="100%" cellspacing="0" cellpadding="5">
	  <tr>
	    <td style="width:100%">
		<span style="font-size: 13px;">
		##TEXT ARTICLE##<br/>
		##ATTACHED##
		</span>
	    </td>
	  </tr>
	</table>
    </td>
    <td style="width:5%">&nbsp;</td>
  </tr>
</table>

##ENDLOOP##