<!-- template : publication.htm -->

   <table summary="" border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
     <td colspan="4" style="height:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; height:1px; background-color:#ffffff;"></td>
    </tr>
    <tr>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td rowspan="2" colspan="2" style="background-color:#f9f9f9;">
		<font color="#ffba27"><b>##TITLE INFO##</b></font>
     </td>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; height:4px; background-color:#ffffff;"></td>
    </tr>
    <tr>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; height:23px; background-color:#f0f0f0;"></td>
    </tr>

    <tr>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td colspan="2" style="height:1px; background-color:#aaaaaa;"></td>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; background-color:#f0f0f0;"></td>
    </tr>
    <tr>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td colspan="2" style="height:1px; background-color:#aaaaaa;"></td>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; background-color:#f0f0f0;"></td>
    </tr>
    <tr>

     <td style="width:1px; height:5px; background-color:#ffffff;"></td>
     <td style="width:4px; height:5px; background-color:#ffffff;"></td>
     <td style="width:538px; height:5px; background-color:#f0f0f0;"></td>
     <td style="width:1px; height:5px; background-color:#f0f0f0;"></td>
     <td style="width:5px; height:5px; background-color:#f0f0f0;"></td>
    </tr>
   </table><br/>

##LOOP##
   <table summary="" border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
     <td colspan="4" style="height:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; height:1px; background-color:#ffffff;"></td>
    </tr>
    <tr>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td rowspan="2" colspan="2" style="background-color:#f9f9f9;">
		<font color="#ffba27"><b>##TITLE ARTICLE##</b></font>
     </td>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; height:4px; background-color:#ffffff;"></td>
    </tr>
    <tr>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; height:23px; background-color:#f0f0f0;"></td>
    </tr>
    <tr>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td colspan="2" style="height:1px; background-color:#aaaaaa;"></td>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; background-color:#f0f0f0;"></td>
    </tr>
    <tr>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td colspan="2" style="background-color:#ffffff;">

      <table summary="" border="0" cellpadding="10" cellspacing="0">
       <tr>
        <td>
        ##TEXT ARTICLE##
        </td>
       </tr>
      </table>

     </td>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; background-color:#f0f0f0;"></td>
    </tr>
    <tr>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td colspan="2" style="height:1px; background-color:#aaaaaa;"></td>
     <td style="width:1px; background-color:#aaaaaa;"></td>
     <td style="width:5px; background-color:#f0f0f0;"></td>
    </tr>
    <tr>
     <td style="width:1px; height:5px; background-color:#ffffff;"></td>
     <td style="width:4px; height:5px; background-color:#ffffff;"></td>
     <td style="width:538px; height:5px; background-color:#f0f0f0;"></td>
     <td style="width:1px; height:5px; background-color:#f0f0f0;"></td>
     <td style="width:5px; height:5px; background-color:#f0f0f0;"></td>
    </tr>
   </table><br/>
##ENDLOOP##
